---
eleventyExcludeFromCollections: true
layout: page.njk
title: Blog Archiv
---

<div class="pb-8 mt-2 font-light dark:font-extralight">
    {% for post in collections.posts | reverse %}
        {% set currentYear = post | year %}
        {% set previousYear = collections.posts | getPreviousCollectionItem(post) | year %}
        {% if loop.first %}
        <h4 class="mt-8 mb-1 text-xl text-justify font-medium leading-tight text-neutral-800 dark:text-neutral-50">{{ currentYear }}<h4>
        <ul class="mt-2">
        {% endif %}
            <li class="mb-1 px-2 py-1 truncate">
                <span class="text-lg tabular-nums">{{ post.date | day }}</span>
                <span class="text-sm font-extralight">{{ post.date | month }}</span>
                <a href="{{ post.url }}" class="ml-6">{{ post.data.title }}</a>
            </li>
        {% if loop.last %}
        </ul>
        {% elif currentYear != previousYear %}
        </ul>
        <h4 class="mt-8 mb-1 text-xl text-justify font-medium leading-tight text-neutral-800 dark:text-neutral-50">{{ previousYear }}<h4>
        <ul class="mt-2">
        {% endif %}
    {% endfor %}
</div>