---
eleventyExcludeFromCollections: true
layout: page.njk
title: Blogroll
---

Ihr könnt alle diese großartigen Blogs auf einmal abonnieren, indem Ihr die <a href="/blogroll.xml" download="blogroll">OPML-Datei herunterladet</a> und in die RSS-App eurer Wahl importiert.<br><br><br>

{% for website in blogroll %}
<div class="border pl-5 pr-5">
    <h2 class="text-indigo-500 font-extrabold font-mono tracking-widest">{{ website.name }}</h2>
    <p><a href="{{ website.website_url }}" class="text-fuchsia-300">Website</a> • <a href="{{ website.rss_url }}">RSS</a> • #{{ website.tag }}</p>
    <p>{{ website.description }}</p>
</div>
<br>
{% endfor %}
