---
eleventyExcludeFromCollections: true
layout: page.njk
title: Blogroll
---

{% for website in blogroll %}
<div class="border pl-5 pr-5">
    <h2 class="text-indigo-500 font-extrabold font-mono tracking-widest">{{ website.name }}</h2>
    <p><a href="{{ website.website_url }}" class="text-fuchsia-300">Website</a> • <a href="{{ website.rss_url }}">RSS</a></p>
    <p>{{ website.description }}</p>
</div>
<br>
{% endfor %}

to be continued...
<br><br>